<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.2"/>
  </startup>
  <connectionStrings>
    <clear/>
    <add name="DHCA - Dev" connectionString="AuthType=AD;Url=http://10.20.4.111/DHCA; Domain=crm20160; Username=crmadmin; Password=linkP@ss"/>
    <add name="DHCA - Staging" connectionString="AuthType=AD;Url=http://10.20.4.120/DHCA; Domain=crm20160; Username=crmadmin; Password=linkP@ss"/>
  </connectionStrings>
</configuration>
